<!-- 	Barnabas Bulpett
		WEB-289-YD1
		Spring 2015
		about.html.erb
-->
<!-- Static view describing general information -->
<h1>What We're All About</h1>

<main>
	<article style="background: #FFF; padding: 15px;">
		<p>At Capstone Savings Bank, we are committed to providing our customers with a better banking experience. In today’s modern world, convenience and accessibility mean everything, and as an online financial institution, we strive to stay a step ahead of the others by keeping pace with the ever-expanding technological aspect of the banking world. In addition to providing our customers with the ease and availability of a seamless and precise online banking experience, we pride ourselves in being an institution that our customers can truly trust.</p>
		<%= image_tag 'computer_handshake.jpg', :id=>'about_image' %>
		<p> Our commitment to customer satisfaction and unrelenting dedication to security are some the values that our institution was built on, and our loyalty to our customers is unparalleled. We are pioneering a new modern era of banking in a way that works for our customers, while maintaining a devotion to the values that have carried our industry through the ages. These are only a few of the reasons why Capstone Savings is the bank for you.</p>
	</article>
</main>