<!-- 	Barnabas Bulpett
		WEB-289-YD1
		Spring 2015
		help.html.erb
-->
<!-- Static view describing help-related information -->
<h1>We're Here To Help</h1>
<div id="panel">
	<div class="panel-body">
		<article>
			<h2>General Help Topics</h2>
			<p>Have a question? We have the answer! Browse the selection of topics below to find answers for many questions you may have about our services.</p>
			<ul>
				<li><a href="#" onclick="document.getElementById('hiddenText1').style.display='block'; return false;">Opening a new account</a></li>
					<div style="display: none;" id="hiddenText1">Getting started with Capstone Savings Bank is easy. Simply click the “create an account” button on our homepage to get started, or click the link in the top right hand corner to start the process. From that point, you will be guided through an easy to complete, 4­-step wizard. The entire process takes minutes.</div>
				<li><a href="#" onclick="document.getElementById('hiddenText2').style.display='block'; return false;">Searching your transactions</a></li>
					<div style="display: none;" id="hiddenText2">Looking for a certain transaction or merchant? Use our simple search tool at the top right hand corner of your transaction history to search for a keyword in the description, such as the merchant’s name. You can also view all transactions of a certain type with another one of our advanced search options. Want to get even more precise? Search by transaction number to find exactly what you’re looking for.</div>
				<li><a href="#" onclick="document.getElementById('hiddenText3').style.display='block'; return false;">Customer service</a></li>
					<div style="display: none;" id="hiddenText3">If you have a question, concern, idea, or anything else you want to share with us, our friendly customer service specialists are available 24/7 to assist. You can call us toll-free at <strong>800-555-1212</strong> or email us at <%= mail_to "barnabasjbulpett@students.abtech.edu", "support@capstonesavings.com" %>.</div>
					
			</ul>
		</article>
		<h2>Frequently Asked Questions (FAQ)</h2>
		<article>
			<p>Some questions are rare, but others are <em>frequent</em>. That's why we compiled this list of some things that often come up. It doesn't hurt to ask!</p>
			<ul>
				<li><a href="#" onclick="document.getElementById('hiddenText4').style.display='block'; return false;">How do I create an account?</a></li>
					<div style="display: none;" id="hiddenText4">Getting started with Capstone Savings Bank is easy. Simply click the “create an account” button on our homepage to get started, or click the link in the top right hand corner to start the process. From that point, you will be guided through an easy to complete, 4­-step wizard. The entire process takes minutes.</div>
				<li><a href="#" onclick="document.getElementById('hiddenText5').style.display='block'; return false;">How do I search my transaction history for something specific?</a></li>
					<div style="display: none;" id="hiddenText5">Looking for a certain transaction or merchant? Use our simple search tool at the top right hand corner of your transaction history to search for a keyword in the description, such as the merchant’s name. You can also view all transactions of a certain type with another one of our advanced search options. Want to get even more precise? Search by transaction number to find exactly what you’re looking for.</div>
				<li><a href="#" onclick="document.getElementById('hiddenText6').style.display='block'; return false;">I have more questions. How can I contact Capstone Savings?</a></li>
					<div style="display: none;" id="hiddenText6">If you have a question, concern, idea, or anything else you want to share with us, our friendly customer service specialists are available 24/7 to assist. You can call us toll-free at <strong>800-555-1212</strong> or email us at <%= mail_to "barnabasjbulpett@students.abtech.edu", "support@capstonesavings.com" %>.</div>

			</ul>
		</article>
	</div>
</div>