<!-- 	Barnabas Bulpett
		WEB-289-YD1
		Spring 2015
		legal.html.erb -->

<!-- Static view with legal information and disclaimer -->		
<h1>Legal Information</h1>
<main>
	<div id="panel">
		<h2 class="articleHead">This is not a real bank!</h2>
		<article>
			<ol>
			<li>Capstone Savings Bank (a.k.a. <em>capstonesavings.com</em>) has been created for demonstration purposes only. The data contained on this site was randomly generated and does not reflect any real entity. Any names shown herein that may match the name of an actual person, business, or organization are not intended and purely coincidental. Concerns about identity exploitation or manipulation will be addressed in immediate order with appropriate cease-and-desist actions. Involved parties may contact the project's administrator by leaving a comment on, or sending a message through the following link: <a href="http://github.com/bbulpett/capstone_project">github.com/bbulpett/capstone_project</a>.</li>

			<li>This site's servers are hosted on the Amazon Elastic Compute Cloud. Neither Amazon nor any of its partners accept any liability for damages or other actions caused by the use of this site. This is a student project for required course credit at Asheville-Buncombe Technical Community College in Asheville, North Carolina, United States of America. Neither the aforementioned school, nor the North Carolina or United States Department of Education hold any responsibility whatsoever pertaining to the content of this site nor any damages that its use may incur.</li>

			<li>Although the public is encouraged to explore the Capstone Savings Bank site, be aware that users of this site <strong>will not</strong> be furnished with actual bank accounts, even when completing the registration process. The development of this site has always been, and will continue to be, an experimental and demonstrative project endeavoring to assess the creativity and technical skills of its student creator. Attempts to exploit this site, its database, its network, or any other component shall constitute a federal crime. You have been warned.</li>
			</ol>
		</article>
		<h3 class="articleHead"><em>Thanks for visiting!</em></h3>
	</div>
</main>