<h1>Editing customer</h1>

<%= render 'form' %>
<div id="links-block">
	<%= link_to 'Show', @customer, :class => "btn btn-info formButton"  %> 
	<% if current_user.role = 'admin' %>
		<%= link_to 'Return to Dashboard', manage_customers_administrator_path, :class => "btn btn-warning formButton"  %>
	<% else %>
		<%= link_to 'Back to Home Page', root_path, :class => "btn btn-warning formButton"  %>
	<% end %>
</div>
