<!-- 	Barnabas Bulpett, Web Technologies System Project WEB-289-D1, Spring 2015 -->
<!-- 	Partial view for page footer, rendered by layout files -->
<footer>
  <p><strong>Witco Finance</strong> | Witco Financial Services | Private bankers, financial advisers<br />Lenders | Guarantors</p>

  <ul>
  	<!-- Secondary links -->
  	<li style="font-size: 165%;"><em><%= link_to "Legal", home_legal_path %></em></li>
  </ul>
</footer>
