<!--  Barnabas Bulpett
      WEB-289-YD1
      Spring 2015
      acct_transactions/edit.html.erb
-->
<!-- Dynamically generated partial for AcctTransaction model editing-->
<h1>Editing acct_transaction</h1>

<%= render 'form' %>

<%= link_to 'Show', @acct_transaction %> |
<%= link_to 'Back', acct_transactions_path %>
