<!--  Barnabas Bulpett
      WEB-289-YD1
      Spring 2015
      accounts/new.html.erb
-->
<!-- Dynamically generated partial for new Account model -->
<h1>Account Type</h1>
<h3>Step 3 of 4</h3>
<%# if :transaction_type_id => 6 %>
<%#= render 'form' %>
<%# else %>
<%#= render 'wireform' %>
<%# end %>
<%= render 'form' %>

